<!DOCTYPE html>
<html>
<head>
	<title>Firebase and Nodejs</title>
</head>
<body>
	<h1>Welcome to my firebase app</h1>
	<div class="loading"></div>
	<div id="view"></div>
<script src="js/firebase.js"></script>
<script src="js/jquery.js"></script>
<script src="js/shoppingCart.js"></script>
<script src="js/index.js"></script>
<div id="count">
	<script>cart.getTotalPrice();</script>
</div>
</body>
</html>